
<div class="columns is-multiline">
  {{#each country.markets}}
    <div class="column is-one-third">
      <div class="card">
        <div class="card-content has-background-link-light">
          <div class="content">
            <p><strong>Market:</strong> {{title}}</p>
            <p><strong>Description:</strong></p>
            <p class="description">{{description}}</p>
            <p><strong>Latitude:</strong> {{latitude}}</p>
            <p><strong>Longitude:</strong> {{longitude}}</p>
            <p><strong>Category:</strong> {{category}}</p>
          </div>
        </div>
        <footer class="card-footer">
          <a href="/market/{{../country._id}}/editmarket/{{_id}}" class="card-footer-item button is-link">
            <span class="icon">
              <i class="fas fa-edit"></i>
            </span>
            <span>Edit</span>
          </a>
          <a href="/country/{{../country._id}}/deletemarket/{{_id}}" class="card-footer-item button is-danger">
            <span class="icon">
              <i class="fas fa-trash"></i>
            </span>
            <span>Delete</span>
          </a>
        </footer>
      </div>
    </div>
  {{/each}}
</div>



